:root{
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate:#434455;
    --white: #FFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
}

.web {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio {
    color: var(--navyblue,); 
    font-family: "Raleway"; 
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-class .logo, .header-class a {
    color: var(--slate);
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    transition:0.3s;
}

.site-nav a:hover, .site-nav a:focus {
    color: var(--iris);
}

.above-fold {
    background: var(--navyblue);
}

body {
    color: var(--slate);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.hero-heading {
    color: var(--white);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-align: center;
}

.order-button {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white);
    border-radius: 12px;
    border: none;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}

.order-button:hover, .order-button:focus {
    background-color: var(--white);
    color: var(--navyblue);
}

.portfolio-buttons {
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    transition:0.3s;
    cursor: pointer;
}

.portfolio-buttons:hover{
    background-color:var(--ocean);
    color: var(--cloud)
}

.subheader {
    color: var(--navyblue);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.features {
    color: var(--navyblue);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
    
}

.footer-class {
    background: var(--navyblue);

}

.footer-class .text {
    color: var(--cloud);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
}

.footer-class .logo {
    text-decoration: none;
}

.studio-2 {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
